* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  border-bottom: 1px solid #e5e7eb;
}

.hero,
footer {
  background-color: #1f2937;
}

.header-title,
h2 {
  color: #f9faf8;
}

.header-title {
  font-size: 50px;
}

.left p,
.header-links {
  font-size: 18px;
  color: #e5e7eb;
}

header,
.header-links {
  display: flex;
  align-items: center;
}

.header-links {
  margin-left: auto;
  gap: 15px;
}

header {
  margin-bottom: 50px;
}

h2 {
  font-size: 48px;
  font-weight: 900;
}

.sign-up,
.callToAction {
  background-color: #3882f6;
}

.cards h3 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.quote {
  background-color: #e5e7eb;
}

.quote.message {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
}

.hero,
main,
footer {
  padding: 0 250px;
}

.hero {
  padding-bottom: 30px;
}

.content {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.content .right img {
  width: 450px;
}

button.sign-up {
  padding: 10px 30px;
  margin-top: 15px;
  color: white;
  border-radius: 8px;
  border: unset;
}
