* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  cursor: pointer;
}

a:hover {
  border-bottom: 1px solid #e5e7eb;
}

.hero,
footer {
  background-color: #1f2937;
}

.header-title,
h2 {
  color: #f9faf8;
}

.header-title {
  font-size: 50px;
}

.left p,
.header-links {
  font-size: 18px;
  color: #e5e7eb;
}

header,
.header-links {
  display: flex;
  align-items: center;
}

.header-links {
  margin-left: auto;
  gap: 15px;
}

header {
  margin-bottom: 50px;
}

h2 {
  font-size: 48px;
  font-weight: 900;
}

.sign-up,
.callToAction .content {
  background-color: #3882f6;
}

.cards h3 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.quote {
  background-color: #e5e7eb;
}

.quote.message {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
}

.hero {
  padding: 0 250px;
}

.hero {
  padding-bottom: 30px;
}

.content {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.content .right img {
  width: 450px;
}

button.sign-up {
  padding: 10px 30px;
  margin-top: 15px;
  color: white;
  border-radius: 8px;
  border: unset;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 50px;
}

.card-container {
  display: flex;
  gap: 2rem;
}

.card img {
  width: 200px;
  border-radius: 5px;
}

.card {
  text-align: center;
}

.card p {
  margin-top: 5px;
}

.quote {
  text-align: center;
  padding: 100px 250px;
}

.quote .message {
  font-size: 50px;
}

.quote .author {
  text-align: right;
  font-weight: bold;
}

.callToAction {
  background-color: white;
  padding: 85px 150px;
}

.callToAction .content {
  padding: 30px 65px;
  width: 950px;
  margin: 0 auto;
  border-radius: 5px;
  color: white;
}

.callToAction .content button {
  margin-left: auto;
  padding: 5px 35px;
  background-color: #3882f6;
  border-radius: 5px;
  border: 2px solid #f9faf8;
  color: white;
}

footer {
  text-align: center;
  color: #e5e7eb;
  padding: 25px 0;
}
